body{
    margin: 0;
    width: 100%;
    background-color: black; 
    color: aliceblue;  
    overflow-x: hidden;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    transition: 
        transform 0.4s ease,
        opacity 0.4s ease,
        filter 0.4s ease;
    backdrop-filter: blur(10px);
}
    
.navbar.hide {
    transform: translateY(-100%);
    filter: blur(10px);
}

.mobile-menu-button.hide {
    opacity: 0;
}

.mobile-menu-button {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-menu-button {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 26px;
    z-index: 1000;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    }

    .mobile-menu-button span {
        width: 30px;
        height: 2px;
        background: white;
        transition: 
            transform 0.4s ease,
            opacity 0.4s ease;
    }


    .mobile-menu-button.active span:first-child {
        transform: translateY(9px) rotate(45deg);
    }
    .mobile-menu-button.active span:nth-child(2) {
        opacity: 0;
    }
    .mobile-menu-button.active span:last-child {
        transform: translateY(-9px) rotate(-45deg);
    }

    .mobile-menu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        z-index: 999;

        transition: 0.4s ease;
    }

    .mobile-menu.active{
        opacity: 1;
        visibility: visible;
    }


    .mobile-menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(20px, 5vw, 35px);
    }

    .mobile-menu-links a{
        color: white;
        text-decoration: none;
        font-size: clamp(20px, 4vw, 50px);
    }


}





li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align:end;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration:none;
    backdrop-filter: blur(10px);
}

li a:hover{
    color: black;
    background-color: rgb(252, 252, 252);
}

img{
    width:100%;
    height: auto;
}
.into-part{
    width: 100%;
    height: auto;
    position: relative;
}

.png1{
    width: 100%;
    height: auto;
    display: block;
}

.overlaytxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
}
.title-name{
    font-size: clamp(20px, 5vw, 50px);
    -webkit-text-stroke: clamp(0.5px, 0.15vw, 2px) black;
}
.subtitle-name{
    font-size: clamp(10px, 2vw, 25px);
    -webkit-text-stroke: clamp(0.2px, 0.05vw, 0.5px) black;
}

.section{
    width: 100%;
    height: auto;
    position: relative;
}
.section img{
    width: 100%;
    height: auto;
    display: block;
}
.overlay{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width:80%;
    transform: translate(-50%, -50%);
    color: white;
}
.title{
    text-align: center;
    margin-bottom: 40px;
    font-size: clamp(15px, 4vw, 50px);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.content p{
    flex:1;
    text-align: left;
    max-width:50%;
    font-size: clamp(5px, 1.66vw, 20px);
}
.button{
    padding: clamp(5px, 1vw, 10px)
             clamp(12px, 2vw, 25px);
    font-size: clamp(5px, 1.66vw, 20px);
    background: white;
    color:black;
    text-decoration: none;
}
