body{
    margin: 0;
    padding-top: 60px;
    background-color: black; 
    color: aliceblue;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 10px;


    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    transition: 
        transform 0.4s ease,
        opacity 0.4s ease,
        filter 0.4s ease;
    backdrop-filter: blur(10px);
}

.navbar.hide {
    transform: translateY(-100%);
    filter: blur(10px);
}

li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align:end;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration:none;
    backdrop-filter: blur(10px);
}

li a:hover{
    color: black;
    background-color: rgb(252, 252, 252);
}

.title{
    text-align: center;
    font-size: 40px;
}



.image-container{
    position: relative;
}

.intro-img{
    width: 1250px;
    display: block;
}




.overlay {
    position: absolute;
    top: 50%;
    left: 80px;
    text-align: left;
    transform: translateY(-50%);

}
.overlay h2{
    font-size: 30px;
    padding-bottom: 30px;
}

.overlay p{
    font-size: 25px;
}




.car-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin: auto;
    font-size: 18px;
    
}

.car-grid div {
    padding: 15px;
}

.car-grid div:nth-child(even) {
    border-left: 2px solid rgb(255, 255, 255);
}

.grid-title {
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 20px;
}


.home-charging-row{
    display: flex;
    justify-content: center;
}

.home-charging-container1{
    position: relative;
    justify-content: center;
}

.home-charging-img1{
    width: 250px;
    height:350px;
    display: block;
}




.home-charging-container1:nth-child(1) {
    z-index: 4;
}

.home-charging-container1:nth-child(2) {
    z-index: 3;
}

.home-charging-container1:nth-child(3) {
    z-index: 2;
}

.home-charging-container1:nth-child(4) {
    z-index: 1;
}

.home-charging-img1 {
    display: block;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.8);
}

.overlayhc1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-40%,-50%);

}
.overlayhc1 h3{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.overlay p{
    font-size: 25px;
}
