body{
    margin: 0;
    background-color: black; 
    color: aliceblue;   
}
ul{
    list-style-type: disc;
    margin: 0;;
    padding:0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 10px;
}
li{
    margin:10px;
    float:left;
}

li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align:end;
    padding: 10px;
    text-decoration:none;
}
img{
    width:100%;
    height: auto;
}
.into-part{
    width: 100%;
    height: auto;
    position: relative;
}

.png1{
    width: 100%;
    height: auto;
    display: block;
}

.overlaytxt{
    font-size: 25px;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.title-name{
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}
.subtitle-name{
    -webkit-text-stroke: 0.5px black;
}

.carbon-part{
    width: 100%;
    height: auto;
    position: relative;
}
.carbon-img{
    width: 100%;
    height: auto;
    display: block;
}
.carbon-overlay{
    font-size: 25px;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.benf-part{
    width: 100%;
    height: auto;
    position: relative;
}
.benf-img{
    width: 100%;
    height: auto;
    display: block;
}
.benf-overlay{
    font-size: 25px;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.prac-part{
    width: 100%;
    height: auto;
    position: relative;
}
.prac-img{
    width: 100%;
    height: auto;
    display: block;
}
.prac-overlay{
    font-size: 25px;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.cost-part{
    width: 100%;
    height: auto;
    position: relative;
}
.cost-img{
    width: 100%;
    height: auto;
    display: block;
}
.cost-overlay{
    font-size: 25px;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}