body{
    margin: 0;
    width: 100%;
    background-color: black; 
    color: aliceblue;  
    overflow-x: hidden;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    transition: 
        transform 0.4s ease,
        opacity 0.4s ease,
        filter 0.4s ease;
    backdrop-filter: blur(10px);
}
    
.navbar.hide {
    transform: translateY(-100%);
    filter: blur(10px);
}

.mobile-menu-button.hide {
    opacity: 0;
}

.mobile-menu-button {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-menu-button {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 26px;
    z-index: 1000;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    }

    .mobile-menu-button span {
        width: 30px;
        height: 2px;
        background: white;
        transition: 
            transform 0.4s ease,
            opacity 0.4s ease;
    }


    .mobile-menu-button.active span:first-child {
        transform: translateY(9px) rotate(45deg);
    }
    .mobile-menu-button.active span:nth-child(2) {
        opacity: 0;
    }
    .mobile-menu-button.active span:last-child {
        transform: translateY(-9px) rotate(-45deg);
    }

    .mobile-menu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        z-index: 999;

        transition: 0.4s ease;
    }

    .mobile-menu.active{
        opacity: 1;
        visibility: visible;
    }


    .mobile-menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(20px, 5vw, 35px);
    }

    .mobile-menu-links a{
        color: white;
        text-decoration: none;
        font-size: clamp(20px, 4vw, 50px);
    }


}





li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align:end;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration:none;
    backdrop-filter: blur(10px);
}

li a:hover{
    color: black;
    background-color: rgb(252, 252, 252);
}




img{
    width:100%;
    height: auto;
}
.into-part{
    width: 100%;
    height: auto;
    position: relative;
}

.png1{
    width: 100%;
    height: auto;
    display: block;
}

.overlaytxt{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
}
.subtitle-name{
    font-size: clamp(10px, 2vw, 25px);
    -webkit-text-stroke: clamp(0.2px, 0.05vw, 0.5px) black;
}

.into-part2{
    width: 100%;
    height: auto;
    position: relative;
}

.png2{
    width: 100%;
    height: auto;
    display: block;
}
.overlayabout{
    position: absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-size: clamp(5px, 1.66vw, 20px);
}


.section-card{
    width: 90%;
    display: flex;
    margin:8px auto;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    transition: 
        background-color 0.5s ease, 
        border-color 0.5s ease,
        transform 0.5s ease;
}
.section-card:first-child{
    border-top: 1px solid white;
}
.number{
    font-size: clamp(50px, 8vw, 120px);
    font-weight: bold;
    color: rgba(224, 133, 133, 0.8);
    display: flex;
    padding: 20px;
    align-items: center;
}
.section-content{
    flex: 1;
    padding:40px;
}
.section-content h1{
    text-align: center;
    border-top: 2px solid rgb(158, 183, 122);
    border-bottom: 2px solid rgb(158, 183, 122);
    margin-bottom: 40px;
    font-size: clamp(15px, 4vw, 50px);
    color: rgb(112, 250, 158);
}
.section-content p{
    text-align: left;
    max-width:100%;
    font-size: clamp(5px, 1.66vw, 20px);
}
.section-card img{
    width: clamp(100px, 33.2vw, 400px);
    height: auto;
    object-fit: cover;
    display: block;
    margin:15px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: clamp(10.5px, 3vw, 35px);
    filter: grayscale(20%) brightness(0.8);
}

.section-card:hover{
    background-color: rgb(197, 240, 190);
    border-color: rgb(24, 179, 76);
    transform: scale(1.02) translateY(-5px);
}
.section-card:hover .section-content p{
    color: rgb(3, 3, 3);
}
.section-card:hover .section-content h1{
    color: rgb(2, 105, 36);
}
.section-card:hover .number{
    color: rgb(125, 36, 36);
}
.section-card:hover img{
    filter: grayscale(0%) brightness(1);
}